<nav id="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mx-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
        </ul>
      </div>
    </nav>
</nav>
<h1 class="text-center mb-5">Danh sach quan ly</h1>
<div class="action d-flex">
    <div class="text-center">
        <input type="checkbox" class="mx-2">
        <label for="">Chon tat ca:</label>
        <select name="" id="" class="mx-2">
            <option value="">--Hanh dong--</option>
            <option value="duyet">Khoa</option>
            <option value="tuchoi">Kich hoat</option>
        </select>
        <button type="button" class="btn btn-primary mx-2">Thuc hien</button>
    </div>
    
    <div class="text-right d-inline col-5">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Them quan ly</button>
    </div>
</div>
<table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">STT</th>
        <th scope="col">User name</th>
        <th scope="col">Trang thai</th>
        <th scope="col" colspan="2">Hanh dong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Khoa</td>
        <td><button type="button" class="btn btn-primary">Kich hoat</button></td>
        <td><button type="button" class="btn btn-danger">Khoa</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><button type="button" class="btn btn-primary">Kich hoat</button></td>
        <td><button type="button" class="btn btn-danger">Khoa</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td><button type="button" class="btn btn-primary">Kich hoat</button></td>
        <td><button type="button" class="btn btn-danger">Khoa</button></td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title pl-2" id="exampleModalLabel">Them quan ly</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="Username" placeholder="User name">
                  <small id=""></small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="Password1" placeholder="Password">
                  <small id="" ></small>
                </div>
                <button type="submit" class="btn btn-primary">Them</button>
            </form>
        </div>
      </div>
    </div>
  </div>