<nav id="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mx-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
        </ul>
      </div>
    </nav>
</nav>
<h1 class="text-center mb-5">Danh sach tu can duyet</h1>
<div class="ml-5 pl-3">
    <input type="checkbox" class="mx-2"><label for="">Chon tat ca:</label>
    <select name="" id="" class="mx-2">
        <option value="">--Hanh dong--</option>
        <option value="duyet">Duyet</option>
        <option value="tuchoi">Tu choi</option>
    </select>
    <button type="button" class="btn btn-primary mx-2">Thuc hien</button>
</div>
<table class="table">
    <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">STT</th>
        <th scope="col">Tu tieng anh</th>
        <th scope="col">nghia tieng anh</th>
        <th scope="col">Tu tieng viet</th>
        <th scope="col">nghia tieng viet</th>
        <th scope="col">anh minh hoa</th>
        <th scope="col">Cac tu lien quan</th>
        <th scope="col" colspan="2">Hanh dong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>uuuu uuuuuuu bbbbbbbbbbb hhhhhhhhhhhhhhhhh hhhhhhhhh We'll never share your email with anyone else. We'll never share your email with anyone else. We'll never share your email with anyone else.</td>
        <td>@mdo</td>
        <td>uuuu uuuuuuu bbbbbbbbbbb hhhhhhhhhhhhhhhhh hhhhhhhhh We'll never share your email with anyone else. We'll never share your email with anyone else. We'll never share your email with anyone else.</td>
        <td>Otto</td>
        <td>We'll never share your email with anyone else. We'll never share your email with anyone else. We'll never share your email with anyone else.</td>
        <td><button type="button" class="btn btn-primary">Duyet</button></td>
        <td><button type="button" class="btn btn-danger">Tu_choi</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button type="button" class="btn btn-primary">Duyet</button></td>
        <td><button type="button" class="btn btn-danger">Tu choi</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button type="button" class="btn btn-primary">Duyet</button></td>
        <td><button type="button" class="btn btn-danger">Tu choi</button></td>
      </tr>
    </tbody>
</table>
