form{
    border:1px solid black;
    padding: 2px;
    height: 45px;
}

img{
    display: block;
    margin: 10px;
    width: 10%;
    height: auto;
}
select{
    border: none;
    border-left: 1px solid black;
}
input{
    border: none;
}